
[dir] .section-card-list-columns .card-img-top img {
  transform: scale(1);
}
.section-card-list-columns .card-img-top img {
  width: 100%;
  transition: transform .25s;
}
img {
  vertical-align: middle;
}
*, :after, :before {
  box-sizing: border-box;
}
